page-profile {
  #frofileAvatar {
    height: 200px !important;
    width: 200px !important;
    border-radius: 50% !important;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
  }

  p {
    text-align: center;
    font-weight: bolder;
    font-size: 1.7em;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
